@using Microsoft.AspNetCore.Components
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Text.Encodings.Web
@using System.Web
@using Domain.Interfaces
@using Domain.Models
@using Infrastructure.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject UserManager<ApplicationUser> _userManager;
@inject IEntityRepository<Listing> _listingRepository;
@inject IEntityRepository<ListingCategory> _categoryRepository

<EditForm EditContext="@_editContext" class="row g-5" OnValidSubmit="CreateOrSaveListing">
    <DataAnnotationsValidator/>
    <div class="col-md-5 col-lg-4 order-sm-first order-md-last">
        <FileUpload Images="@_input.Images" User="_user"/>
    </div>
    <div class="col-md-7 col-lg-8">
        <h3 class="fs-3 mb-3 text-primary">Izveidot sludinājumu</h3>
        <div class="row g-3">
            <div class="col-12">
                <label for="listingTitle">Virsraksts</label>
                <InputText @bind-Value="@_input.Title" class="form-control" id="listingTitle"/>
                <ValidationMessage class="text-danger" For="@(() => _input.Title)"/>
            </div>
            <div class="col-12">
                <label for="listingDesc">Apraksts</label>
                <InputTextArea id="listingDesc" @bind-Value="@_input.Description" class="form-control" style="height: 120px;"/>
                <ValidationMessage For="@(() => _input.Description)"/>
            </div>
            <div class="col-4">
                <label for="listingPrice">Cena</label>
                <InputText id="listingPrice" @bind-Value="@_input.PriceInput" class="form-control" placeholder="Price"/>
                <ValidationMessage For="@(() => _input.Price)"/>
            </div>
            <div class="col-8">
                <label for="listingCategory">Kategorija</label>
                <CategoryDropdown Id="listingCategory" @bind-Category="_input.Category" @bind-Category:event="SelectedCategoryChanged"/>
                <ValidationMessage For="@(() => _input.Category)"/>
            </div>
        </div>
        <hr class="my-4">
        
        <button class="w-100 btn btn-primary btn-lg" type="submit">
            @(IsEditListing ? "Saglabāt" : "Izviedot")
        </button>
    </div>
</EditForm>
@code {

    [Parameter]
    public string? ListingIdUrl { get; set; }
    
    public int? ListingId { get; set; } = null;
    public bool IsEditListing { get; set; } = false;
    private CreateListingModel _input { get; set; } = new ();
    private EditContext _editContext;
    private ApplicationUser _user { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var userClaim = authState.User;
        _user = await _userManager.GetUserAsync(userClaim);
        if (userClaim.Identity is null || !userClaim.Identity.IsAuthenticated || _user is null)
        {
            NavigationManager.NavigateTo("/Account/Login");
        }
        var parameters = HttpUtility.ParseQueryString(new Uri(NavigationManager.Uri).Query);
        try
        {
            ListingId = parameters["id"]?.Decode();
        }
        catch (FormatException)
        {
            NavigationManager.NavigateTo("/Index");
        }
        if (ListingId is not null)
        {
            var listing = await _listingRepository.AsQueryable()
                .Include(l => l.CreatedBy)
                .Include(l => l.Images)
                .Include(l => l.Category)
                .Include(l => l.CreatedBy)
                .Where(l => l.Id == ListingId && l.CreatedBy!.Id == _user!.Id)
                .FirstOrDefaultAsync();
            if (listing is null)
                NavigationManager.NavigateTo("/Index");
            IsEditListing = true;
            _input.Model = listing!;
        }
        _editContext = new EditContext(_input);
        StateHasChanged();
    }
    private async Task CreateOrSaveListing(EditContext context)
    {
        // Ja esam rediģēšanas režīmā, atjauninām datus
        if (IsEditListing)
        {
            await _listingRepository.Update(_input.Model);
            NavigationManager.NavigateTo("/Account/Listings", true, true);
            return;
        }
        var listing = new Listing()
        {
            Description = _input.Description,
            Title = _input.Title,
            Images = _input.Images,
            CreatedByKey = _user.Id,
            Created = DateTime.Now,
            Price = _input.Price,
            CategoryId = _input.Category!.Id
        };
        listing.Images!.ForEach(i => i.Listing = listing);
        await _listingRepository.Add(listing);
        NavigationManager.NavigateTo($"/Listings/Index/{listing.Encode()}", true, true);
    }
    private class CreateListingModel
    {
        public Listing Model { get; set; } = new();
        [Required(ErrorMessage = "Virsraksts ir nepieciešams")]
        [MinLength(8, ErrorMessage = "Virsraksts nav pietiekami garš")]
        [DisplayName("Virsraksts")]
        public string Title
        {
            get => Model.Title;
            set => Model.Title = value;
        }

        [Required(ErrorMessage = "Apraksts ir nepieciešams")]
        [MinLength(20, ErrorMessage = "Apraksts nav pietiekami garš")]
        [DisplayName("Apraksts")]
        public string Description
        {
            get => Model.Description;
            set => Model.Description = value;
        }

        [Required(ErrorMessage = "Cena ir nepieciešama")]
        [DisplayFormat(DataFormatString = "2dp")]
        public float Price
        {
            get => Model.Price;
            set => Model.Price = value;
        }
        
        [Required(ErrorMessage = "Kategorija ir nepieciešama!")]
        public ListingCategory? Category
        {
            get => Model.Category;
            set => Model.Category = value;
        }

        public string PriceInput
        {
            get => Price.ToString("C", new CultureInfo("lv-LV"));
            set => Price = float.TryParse(value.Replace('.',','), NumberStyles.Currency, new CultureInfo("lv-LV"), out float output) ? (float)Math.Round(output, 2) : 0f;
        }
        [MinLength(1, ErrorMessage = "Nepieciešams vismaz viens attēls")]
        public List<ListingImage>? Images
        {
            get => Model.Images;
            set => Model.Images = value;
        }
    }
}